/* line 4, ../sass/desktop.sass */
body {
  background: white url(../images/wallpaper.jpg) no-repeat top left fixed;
  background-size: cover;
  overflow: hidden;
}

/* line 9, ../sass/desktop.sass */
#desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 1;
  border: none;
  outline: none;
  color: white;
}

/* line 20, ../sass/desktop.sass */
#taskbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  opacity: 0.9;
  background-color: lightgrey;
  z-index: 4;
}
/* line 30, ../sass/desktop.sass */
#taskbar div {
  display: inline-block;
  border-right: 1px solid black;
  height: 40px;
  padding: 10px;
}
/* line 36, ../sass/desktop.sass */
#taskbar div:hover {
  background-color: darkgrey;
}
/* line 39, ../sass/desktop.sass */
#taskbar #launcher-icon:hover {
  cursor: pointer;
}

/* line 42, ../sass/desktop.sass */
#launcher-menu {
  position: absolute;
  bottom: 40px;
  left: 0;
  height: 66%;
  width: 30%;
  background-color: lightgrey;
  box-shadow: 4px -4px 10px grey;
  border-bottom: 1px solid darkgrey;
  overflow: auto;
  border-collapse: collapse;
  z-index: 3;
}
/* line 55, ../sass/desktop.sass */
#launcher-menu #launcher-apps {
  border-right: 1px solid darkgrey;
  width: 50%;
  padding: 0px;
  float: left;
}
/* line 61, ../sass/desktop.sass */
#launcher-menu #launcher-profile {
  background-color: darkgrey;
  width: 50%;
  padding: 0px;
  vertical-align: top;
  float: right;
}

/* line 68, ../sass/desktop.sass */
#windows > div.window {
  position: absolute;
  z-index: 3;
  top: 10%;
  left: 10%;
}
