
#menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#panel {
    position: absolute;
    top: 150px;
    left: 0;
    width: 20%;
    border: none;
}

#files {
    position: absolute;
    top: 150px;
    left: 20%;
    right: 0;
    width: 80%;
    border: none;
}

#context {
    position: absolute;
    z-index: 2;
    display: none;
}
