
#editor {
    position: absolute;
    top: 150px;
    border: 1px solid black;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

#editor:active, #editor:focus {
    outline: none;
}
